<!DOCTYPE HTML>
<html lang="en">

<head>
	<link href="/public/css/questionCss.css" rel="stylesheet">
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<meta charset="utf-8">
	<title>동양항공 고객센터 목록</title>
	<style>
		header {
			position: relative;
			z-index: 3;
		}
	</style>
</head>

<body>
	<div>
		<% include ../top.ejs %>
	</div>
	<% if(session.notUser==false) {
		session.notUser=true %>
	<script type="text/javascript">
		alert("작성자 본인만 확인 할 수 있습니다^^")    
	</script>
	<% } %>
	<div class="content">
		<p class="h_title">문의하기</p>
		<div class="tabs_box">
			<ul class="tabs">
				<li class="active" rel="tab1" name="tab1">전체</li>
				<li rel="tab2" name="tab2">예매문의</li>
				<li rel="tab3" name="tab3">결제문의</li>
				<li rel="tab4" name="tab4">취소문의</li>
			</ul>
		</div>
		<% console.log(session.loginInfo.userid) %>
		<% if(session.loginInfo.userid != "manager"){ %>
		<a class="btn1" href="/question/post">문의글 작성</a>
		<% } %>
		<% for(var i=0; i< session.questionList.list.length; i++){ 
			var num=i+1;
			var list_type=session.questionList.list[i]; %>
		<div class="tab_container" style="clear: both;">
			<div id="tab<%=num%>" class="tab_content">
				<table class="table1">
					<thead>
						<tr>
							<th class="th_no">번호</th>
							<th>제목</th>
							<th>작성자</th>
							<th>등록일</th>
							<th>답변상태</th>
							<th>비고</th>
						</tr>
					</thead>
					<tbody>
						<% for(var j=0; j< list_type.length; j++) {%>
						<tr>
							<td class="th_no"><%= j+1 %></td>
							<td><a class="title" href="/question/detail/<%=list_type[j]._id %>">
									<%= list_type[j].title %></a>
							</td>
							<td><%= list_type[j].writer %></td>
							<td><%= moment(list_type[j].createdAt).format('YYYY-MM-DD HH:mm:ss') %></td>
							<td><% if(list_type[j].status == 0) {%>
								<span>답변대기중</span>
								<% } else{%>
								<span class="complete">답변완료</span>
								<% } %>
							</td>
							<% if(list_type[j].secret_status==1) {%>
								<td><img src="/public/images/locked-padlock.png" width="10" height="10" alt=""></td>
							<% } else{ %>
								<td></td>
							<% } %>
						</tr>
						<% } %>
					</tbody>
				</table>
			</div>
		</div>
		<% } %>
	</div>
	<div>
		<% include ../bottom.ejs %>
	</div>
</body>
<script>
	$(document).ready(function () {
		$(".tab_content").hide();
		$(".tab_content:first").show();
		$("ul.tabs li").click(function () {
			$("ul.tabs li").removeClass("active").css("color", "#333");
			$(this).addClass("active").css("color", "#fff");
			$(".tab_content").hide()
			var activeTab = $(this).attr("rel");
			$("#" + activeTab).fadeIn()
		});
	});
</script>

</html>